* {
    box-sizing: border-box;
}
.text-centered{
    text-align:center;
}
/*tried to figure out how to center logo on top*/

header {
    padding: 30px;
  text-align: center;
    background: #f6dedb;
    color: rgb(251, 250, 250);
    font-size: 30px;
    float: 1px; 
     
  }
body {
    background-color: #fff9f9;
   margin: 0;
    min-width: 600px;
    margin: auto;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
}

#logo{
    float: center;
    align-items: center;
}



header h1 {
    margin: 0;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#53a99c;
    font-size: 36px;

    padding: 10px;

}
h2, h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#76b7ad;
    font-size: 24px;
text-align: center;
    padding: 10px;
}

header div h1 {
    text-align: center;
}
p {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    font-size: medium;
    color:#26635a
    
    
}
footer{
    background-image: url("images/BGabstract.jpg");
    opacity: 0.6;
    padding: 30px;
}
ul,ol {
    flex-wrap: wrap;
    text-align:left;
    font-size: medium;
    color:#3c746c

}
hr{
    border-top: 1px dashed teal;
    border-radius: 2px;
}
article {
    max-width: 600;
    flex-wrap: wrap;
    text-align:left;
    font-size: medium;
    color:#3c746c
}