* {
    box-sizing: border-box;
}
.text-centered{
    text-align:center;
}
/*tried to figure out how to center logo on top*/

header {
    padding: 35px;
    text-align: center;
    background: #f6dedb;
    color: rgb(251, 250, 250);
    font-size: 30px;
    float: 1px; 
     
  }
body {
    background-color: #fff9f9;
    margin: 0;
    min-width: 600px;
    margin: auto;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    height: auto;
}

#images{
    float: center;
    align-items: center;
}
/* Used height property to change the amount of of empty space. */
header h1 {
    margin: 0;
    height: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#53a99c;
    font-size: 36px;
    padding: 50px;

}

a:link{
color:#26635a;
}
a:visited{
    color: #f8897a;
}

h2, h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#76b7ad;
    font-size: 24px;
text-align: center;
    padding: 10px;
}

header div h1 {
    text-align: center;
}
p {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    font-size: medium;
    color:#26635a
    
    
}
/* got a little creative and wanted to add an abstract image as the background of footer and add opacity to it */
footer{
    background-image: url("images/BGabstract.jpg");
    opacity: 0.6;
    padding: 30px;
}
/* wanted too have the same type of font and scheme for the lists so I grouped them */
ul,ol {
    flex-wrap: wrap;
    text-align:left;
    font-size: medium;
    color:#3c746c

}
/* decided to use dashed line for ruler to break from the usual solid line */
hr{
    border-top: 1px dashed teal;
    border-radius: 2px;
}
/*understood that putting a max width will help keep text inline, still figuring out margins*/
article {
    max-width: 600;
    flex-wrap: wrap;
    text-align:left;
    font-size: medium;
    color:#3c746c
}
